{% extends 'base.html.twig' %}

    {% block body %}
    <div class="container mt-5 mb-5">           
    <h1> Inscription </hi>
    {{form(form)}}
    Vous avez déjà une compte?<a href="{{path('app_login')}}">Connectez-vous</a>
    </div/>
    {% endblock %}
